@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

html,body {
  padding: 0;
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

/*      nav       */
  nav {
    width: 100%;
    height: 60px;
    background-color:rgba(44, 44, 84,1.0);
    border-bottom: 1px solid whitesmoke;
    padding-top: 10px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
  }
  nav a {
    color: white;
    border-bottom: 2px solid white;
    padding: 10px;
    letter-spacing: 2px;
    margin-right: 5px;
  }
  nav a:last-of-type {
    margin-right: 5%;
  }
  nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
  }

/*      header      */
header {
  padding: 30px;
}
header h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

/*      main      */
main {
  width: 100%;
  border: 1px solid black;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.control {
  display: flex;
  justify-content: center;
}
.control .counter-display {
  font-size: 20px;
  display: inline-block;
  margin-left: 10px;
}
.control button {
  padding: 5px 15px;
  border-radius: 10%;
  margin-bottom: 5px;
  font-size: 20px;
  letter-spacing: 2px;
  outline: none;
  transition: 0.3 ease;
}
.control button:hover {
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
}

.win-box {
  position: absolute;
  width: 500px;
  height: 400px;
  z-index: 99;
  border-radius: 10px;
  background-color: rgba(255, 77, 77, 0.8);
  display: none;
  padding: 30px;
  text-align: center;
  letter-spacing: 2px;
}
.win-box h2:first-of-type {
  color: rgba(255, 250, 101, 0.8);
}
.win-box h2 {
  margin-top: 40px;
}
.win-box .yes,
.win-box .no {
  padding: 10px;
  border-bottom: 2px solid white;
  margin-left: 5px;
}
.win-box .yes:hover,
.win-box .no:hover {
  background-color: rgba(255,255,255,0.2);
  cursor:cell;
}

.row {
  margin-top: 5px;
  min-width: 420px;
  display: flex;
  justify-content: space-around;
}
.container {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  perspective: 500px;
  width: 100px;
  height: 100px;
}
.card {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align:center;
  transform-style: preserve-3d;
  transition: transform 0.3s cubic-bezier(.87,-.41,.19,1.44);
  transition-delay: border 0.5s;
}
.card div {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  font-size: 30px;
  line-height: 100px;
}
.front {
  background-color: yellow;
}
.back {
  background-color: green;
  transform: rotateY( 180deg );
}
.card.flipped {
  transform: rotateY( 180deg );
}
.card.disabled {
  pointer-events: none;
}
.match {
  border: 3px solid red;
  color: white;
  pointer-events: none;
}
