@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

html,body {
  padding: 0;
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

/*      nav       */
  nav {
    width: 100%;
    height: 60px;
    background-color:rgba(44, 44, 84,1.0);
    border-bottom: 1px solid whitesmoke;
    padding-top: 10px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
  }
  nav a {
    color: white;
    border-bottom: 2px solid white;
    padding: 10px;
    letter-spacing: 2px;
    margin-right: 5px;
  }
  nav a:last-of-type {
    margin-right: 5%;
  }
  nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
  }

/*      header      */
  header {
    padding: 30px;
  }
  header h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
  }
  header h2 span {
    position: absolute;
    color: rgba(255, 77, 77, 0.3);
    top: -10px;
    left: 32%;
  }

/*      main      */
main {
  height: 65vh;
  display: flex;
  justify-content: center;
}
.grid {
  flex: 2;
  position: relative;
  height: 100%;
  width: 50%;
}

/*     options for players      */
.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.option {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  background-color: #ffec1a;
  border-width: 5px;
  border-style: solid;
  border-color: #eb5055 transparent transparent transparent;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  transition: 0.2s ease;
}
.option:hover {
  cursor: pointer;
  transform: rotate(30deg);
}

.chosen {
  background-color: #eb5055;
  color:white;
  font-size: 1.5em;
}
.chosen:hover {
  transform: rotate(0deg) scale(1.2);
  cursor: auto;
}

.display-area {
  display: flex;
}
#afterUserChose, #confirmBtn, #afterAiChose {
  display: none;
}
#confirmBtn {
  margin-top: 20px;
  padding: 10px 20px;
  border: 3px solid #eb5055;
  color: #eb5055;
  font-size: 14px;
  letter-spacing: 1px;
}
#confirmBtn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 3px grey;
}
.display {
  margin: 10px;
  flex: 1;
}
.ai-chosen {
  width: 100px;
  height: 100px;
  background-color: #0072c2;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
}

/*     instruction      */
.instruction {
  flex: 0;
  background-color: #eb5055;
  transform: translateX(100%);
  transition: 0.5s ease;
}

.instruction:before {
  content: '';
  position: absolute;
  top: 0;
  left: -52px;
  width: 50px;
  height: 100px;
  background-color: #eb5055;
}
.instruction:After {
  content: 'rules';
  position: absolute;
  color: white;
  top: 30px;
  left: -40px;
  width: 50px;
  height: 100px;
  z-index: 99;
  background-color: transparent;
}
.instruction:hover {
  flex:1;
  transform: translateX(0%);
  cursor: pointer;
}

.rules {
  height: 90%;
  display: flex;
  flex-direction: column;
}

.container {
  flex:1;
  position: relative;
}
.container .grid {
  display: inline-block;
  width: 40px;
  height: 50px;
  border: none;
  background-color: #eb5055;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.container .grid > * {
  margin-top: 10px;
}
.one #rock, .two #paper, .three #scissors {
  left: 25%;
}
.one #paper, .two #scissors, .three #rock {
  left: 60%;
  z-index: -1;
}

@keyframes move {
    from {left: 25%;}
    to {left: 60%; z-index: 2; transform: scale(1.1) translateY(-50%);}
}

.instruction:hover .one #rock,
.instruction:hover .two #paper,
.instruction:hover .three #scissors
{
  animation: move 5s ease 1s 3 forwards;
}


.user-select {

}

.ai-select {

}

/* #eb5055
#ffec1a
#0072c2 */
