@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');


html,body {
  padding: 0;
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

/*      nav       */
  nav {
    width: 100%;
    height: 60px;
    background-color:rgba(44, 44, 84,1.0);
    border-bottom: 1px solid whitesmoke;
    padding-top: 10px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
  }
  nav a {
    color: white;
    border-bottom: 2px solid white;
    padding: 10px;
    letter-spacing: 2px;
    margin-right: 5px;
  }
  nav a:last-of-type {
    margin-right: 5%;
  }
  nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
  }

/*      header      */
  header {
    padding: 30px;
  }
  header h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
  }
  header h2 span {
    position: absolute;
    color: rgba(255, 77, 77, 0.3);
    top: -10px;
    left: 35%;
  }

/*      main      */
main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.switch {
  width: 100%;
  display:flex;
  justify-content: flex-start;
  padding-bottom: 40px;
}
.method {
  position: relative;
  height: 50px;
  width: 50px;
  margin-left: 5px;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  transition: 1s ease;
}
.method:before {
  content: '';
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(255, 71, 87, 0.8);
  z-index: -1;
  transition: 1s ease;
}
.method:hover {
  cursor: cell;
}
.method:hover:before {
  height: 100%;
  background-color: rgba(123, 237, 159,1.0);
}
.method.activated {
  width: 100px;
}

/*      method 1      */
.method-a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display:flex;
  flex-wrap: wrap;
}
.square {
  position: relative;
  margin: 5px;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}
.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 100%;
}
.one .dot {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.two .dot:first-of-type,
.three .dot:first-of-type,
.four .dot:nth-of-type(2),
.five .dot:nth-of-type(2),
.six .dot:nth-of-type(2){
  left: 10%;
  bottom: 10%;
}
.two .dot:last-of-type,
.three .dot:last-of-type,
.four .dot:nth-of-type(4),
.five .dot:nth-of-type(4),
.six .dot:nth-of-type(4){
  right: 10%;
  top: 10%;
}
.three .dot:nth-of-type(2),
.five .dot:nth-of-type(5){
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.four .dot:nth-of-type(1),
.five .dot:nth-of-type(1),
.six .dot:nth-of-type(1){
  top: 10%;
  left: 10%;
}
.four .dot:nth-of-type(3),
.five .dot:nth-of-type(3),
.six .dot:nth-of-type(3){
  bottom: 10%;
  right: 10%;
}
.six .dot:nth-of-type(5) {
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}
.six .dot:nth-of-type(6) {
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}
.control {
  margin-top: 20px;
  padding: 20px;
}
.choose, .choose-b {
  padding: 10px 30px;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50px;
  border: 2px dotted rgba(255, 77, 77, 0.5);;
  outline:none;
  position: relative;
  background-color: transparent;
  overflow: hidden;
}
.choose span, .choose-b span {
  position: absolute;
  right: 15px;
  top: 2px;
  z-index: -1;
  color: rgba(255, 77, 77, 0.2);
  transform: rotate(-10deg);
}
.choose:hover, .choose-b:hover{
  border: 2px solid rgba(255, 77, 77, 0.5);
  cursor: pointer;
}

.hide {
  display: none !important;
}

/*      method 2      */
.method-b {
  width: 100%;
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-b {
  width: 200px;
  height: 100%;
  display: inline-block;
  padding: 20px;
  perspective: 800px;
}
.choose-b {
  height: 40px;
}
.rolling-effect {
  animation-name: choosing;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes choosing {
  0%,100% { transform: rotateX(0); }
  50% { transform: rotateX(720deg); }
}
