@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

html,body {
  padding: 0;
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

/*      nav       */
  nav {
    width: 100%;
    height: 60px;
    background-color:rgba(44, 44, 84,1.0);
    border-bottom: 1px solid whitesmoke;
    padding-top: 10px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
  }
  nav a {
    color: white;
    border-bottom: 2px solid white;
    padding: 10px;
    letter-spacing: 2px;
    margin-right: 5px;
  }
  nav a:last-of-type {
    margin-right: 5%;
  }
  nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
  }

/*      header      */
  header {
    padding: 30px;
  }
  header h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
  }
  header h2 span {
    position: absolute;
    color: rgba(255, 77, 77, 0.3);
    top: -10px;
    left: 35%;
  }

/*      main      */
main {
  width: 100%;
  height: 65vh;
  display: flex;
}

/*      control      */
.control {
  width: 35%;
  height: 100%;
  border: 1px solid red;
}
.control-inner {
  margin: 0 auto;
  width: 80%;
  letter-spacing: 1px;
}
.input-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.range-area h4 {
  display: none;
}
input[type="text"] {
  width: 100px;
  height: 50px;
  font-size: 40px;
  outline: none;
}
input[type="text"]:focus {
  border: 3px solid rgba(255, 211, 42, 1);
  color:rgba(255, 211, 42, 1);
}
input[type="submit"] {
  width: 50px;
  height: 50px;
  outline: none;
  text-transform: uppercase;
}
input[type="submit"]:hover {
  background-color: rgba(255, 211, 42, 0.6);
  cursor: crosshair;
}
span.number-range {
  font-size: 2em;
  color:rgba(245, 59, 87, 0.8);
}

/*      display      */
.display {
  width: 65%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.message-area {
  width: 85%;
  height: 30%;
  border: 1px solid yellow;
  text-align: center;
}
.message-area h2#message {
  letter-spacing: 1px;
}
.message-number-chosen {
  color:rgba(245, 59, 87, 0.8);
}
.message-messages {
  color: rgba(0, 0, 205, 0.8);
  text-transform: uppercase;
}
.options-area {
  width: 85%;
  height: 70%;
  border: 1px solid pink;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  overflow-y: scroll;
}
.number {
  width: 30px;
  height: 30px;
  font-size: 0.8em;
  text-align: center;
  line-height: 2.5em;
}
.number:hover {
  background-color: rgba(255, 255, 0, 0.5);
  cursor: pointer;
  line-height: 1.2em;
}

/*

guess the number between a and b
(user enter the starting range + 100 is the ending range)

*/
