@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');


html,body {
  padding: 0;
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 14px;
}
a { text-decoration: none; }
* { box-sizing: border-box; }

main {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.split {
  display: inline-block;
  height: 100vh;
  padding: 20px;
  overflow: auto;
  position: relative;
}


/* --------- right ----------- */

#right {
  width: 40%;
  background-color: white;
}
.slogan {
  margin-left: 50px;
}
.slogan h1 {
  font-size: 4.5vw;
  font-weight: 700;
  font-family: arial;
  background-color: #666666;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.45);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
.menu {
  position: absolute;
  top:0;
  right: 0px;
  width: 0%;
  height: 100%;
  background-color: rgb(241,201,124);
  transition: 0.3s ease;
  transition-delay: 1s;
}
#right:hover .menu {
  width: 100%;
}
.menu-list {
  width: 80%;
  height: 80%;
  margin: 5px auto;
  border: 1px solid white;
}
.moving-line {
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 5;
}
.moving-line.first {
  left: 0;
  top: -100%;
  transition: 1s ease;
  background-color: rgb(241,201,124);
}
.moving-line.second {
  left: 0;
  bottom: -100%;
  transition: 1.5s ease;
  background-color: white;
}
.moving-line div  {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

#right:hover .moving-line.first {
  top: 100%;
}
#right:hover .moving-line.second {
  bottom: 100%;
}

/* --------- left ----------- */
#left {
  width: 60%;
  background-color: rgb(248,249,148);
  perspective: 800px;
}
.name-sqaure {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 10px solid white;
  text-align: center;
  margin: 40%;
  transform: translate(-30%, -50%);
  overflow: hidden;
  transition: 0.2s ease;
  transition-delay: 4.5s;
}

.name-sqaure h1 {
  margin: 0;
  font-size: 180px;
  font-weight: lighter;
  color: rgb(241,201,124);
  text-shadow: 0 3px 5px rgba(0,0,0,0.8);
  transition: 5s ease;
}

#left:hover .name-sqaure {
  opacity: 0;
}
#left:hover .name-sqaure h1 {
  transform: translateY(-700%);
}
