@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');


html,body {
  padding: 0;
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

/*      nav       */
  nav {
    width: 100%;
    height: 60px;
    background-color:rgba(44, 44, 84,1.0);
    border-bottom: 1px solid whitesmoke;
    padding-top: 10px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
  }
  nav a {
    color: white;
    border-bottom: 2px solid white;
    padding: 10px;
    letter-spacing: 2px;
    margin-right: 5px;
  }
  nav a:last-of-type {
    margin-right: 5%;
  }
  nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
  }

/*      header      */
  header {
    padding: 30px;
  }
  header h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
  }
  header h2 span {
    position: absolute;
    color: rgba(255, 77, 77, 0.3);
    top: -10px;
    left: 35%;
  }

/*      main      */
main {
  padding: 20px;
  border: 1px solid blue;
  height: 80vh;
}
.card-container {
  margin: 0 auto;
  width: 600px;
  height: 450px;
  border: 1px solid black;
  position:relative;
  overflow: hidden;
}
.hide {
  transform: translateX(200%);
}

/*      first      */
.box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: 2s ease;
}

.layer-one {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('bg-flower.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 1s ease;
}

.layer-two {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(239, 87, 119, 0.6);
  transition: 1s ease;
}

.layer-two h3 {
  position: absolute;
  top: 80px;
  left: 90px;
  z-index: 5;
  color: #F8EFBA;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 200;
  transition: 1s ease;
}
.layer-two span {
  position: absolute;
  top: 100px;
  left: 90px;
  z-index: 6;
  color: white;
  letter-spacing: 2px;
  padding: 10px 20px;
  transform: translateX(260%);
  transition: transform 2s ease;
}
.layer-two span:hover {
  cursor: pointer;
}
.layer-two hr {
  position: absolute;
  border: 0;
  height: 3px;
  background-color: RGBA(255, 255, 255, 0.6);
}
.layer-two hr.line-one {
  top: 76px;
  left: 0;
  width: 40%;
  transition: 1s cubic-bezier(.87,-.41,.19,1.44);
}
.layer-two hr.line-two {
  top: 160px;
  right: 0;
  width: 60%;
  transition: 1.5s cubic-bezier(.87,-.41,.19,1.44);
}
.layer-two hr.line-three {
  top: 140px;
  left: -20%;
  width: 60%;
  transform: rotate(90deg) translateX(140%);
  transition: 1s cubic-bezier(.87,-.41,.19,1.44);
}
.layer-two hr.line-four {
  top: 140px;
  right: 10%;
  width: 60%;
  transform: rotate(90deg) translateX(-120%);
  transition: 1s cubic-bezier(.87,-.41,.19,1.44);
}


.box:hover .layer-one {
  transform: scale(1.2);
}
.box:hover .layer-three {
   background-color: rgba(239, 87, 119, 0.3);
}

.box:hover hr.line-one {
  left: 10%;
  width: 100%;
  height: 4px;
}
.box:hover hr.line-two {
  right: 40%;
  width: 60%;
  height: 4px;
}
.box:hover hr.line-three {
  transform: rotate(90deg) translateX(-45%);
  height: 4px;
}
.box:hover hr.line-four {
  transform: rotate(90deg) translateX(32%);
  height: 4px;
}

.box:hover h3 {
  opacity: 0;
}
.box:hover span {
  transform: translateX(0);
}

/*     second     */

.box-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid whitesmoke;
  perspective: 600px;
  background-color: rgba(239, 87, 119, 0.6);
  transition: 2.5s cubic-bezier(.87,-.41,.19,1.44);
}

.circle-two, .circle-three, .circle-four, .circle-five {
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translateX(0) rotateZ(0deg);
  border-style: solid;
  border-width: 5px;
  border-color: white #ef5350 white #ef5350;
  border-radius: 50%;
  cursor: pointer;
  transition: 2s ease;
}
.circle-three {
  bottom:0;
  right:0;
  transform: translateX(0) rotateZ(0deg);
}
.circle-four {
  bottom: 25%;
  right:0;
  transition-delay: 0.5s;
  transform: translateX(0) rotateZ(0deg);
}
.circle-five {
  top: 25%;
  left:0;
  transition-delay: 0.5s;
  transform: translateX(0) rotateZ(0deg);
}
.inner-icon-two {
  color: #ef5350;
  position: absolute;
  margin: 50%;
  transform: translate(-50%, -50%) ;
}
.center-heart {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 250px;
  overflow: hidden;
  color:rgba(239, 87, 119, 0.6);
}
.center-heart span.thanks {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #f0f1e3;
  text-transform: uppercase;
  font-size: 40px;
  font-family: Arial, "Times New Roman";
  font-weight:700;
  background-color: #ad1457;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.45);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  opacity: 0;
  transition-delay: 1s;
  transition: 2s ease;
}
.center-heart span.continue {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, 60%);
  color: rgba(255,255,255,0.65);
  opacity: 0;
  transition-delay: 1s;
  transition: 2s ease;
}
.fa-heart {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 2s cubic-bezier(.24,.93,.83,.67);
}
.box-two:hover .circle-two {
  transform: translateX(600%) rotateZ(480deg);
}
.box-two:hover .circle-three {
  transform: translateX(-600%) rotateZ(-480deg);
}
.box-two:hover .circle-four {
  transform: translateX(-600%) rotateZ(-480deg);
}
.box-two:hover .circle-five {
  transform: translateX(600%) rotateZ(480deg);
}
.box-two:hover .fa-heart {
  transform: scale(6) translate(-10%, -10%);
}
.box-two:hover .thanks, .box-two:hover .continue {
  opacity: 1;
  cursor: pointer;
}


/*     third     */
