@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

html,body {
  padding: 0;
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

/*      nav       */
  nav {
    width: 100%;
    height: 60px;
    background-color:rgba(44, 44, 84,1.0);
    border-bottom: 1px solid whitesmoke;
    padding-top: 10px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
  }
  nav a {
    color: white;
    border-bottom: 2px solid white;
    padding: 10px;
    letter-spacing: 2px;
    margin-right: 5px;
  }
  nav a:last-of-type {
    margin-right: 5%;
  }
  nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
  }

/*      header      */
  header {
    padding: 30px;
  }
  header h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
  }
  header h2 span {
    position: absolute;
    color: rgba(255, 77, 77, 0.3);
    top: -10px;
    left: 22%;
  }

/*      main      */
main {
  height: 65vh;
  display: flex;
  justify-content: center;
}

/*      colour wheel      */
.wheel-container {
  flex: 2;
  border: 1px dotted red;
  position: relative;
}
.instruction h3 {
  letter-spacing: 1px;
  margin: 10px;
}
#wheelContainer span {
  position: absolute;
  top: 180px;
  left: 280px;
  height: 25px;
  width: 30px;
  background-color: hsl(1, 100%, 50%);
  transform-origin: -300% 50%;
}


/*      display      */
.display-container {
  flex: 3;
  border: 1px dotted green;
}

.sample-webpage {
  border: 1px solid gray;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.inner-nav {
  display: flex;
  justify-content: space-between;
  height: 15%;
}
.brand {
  padding: 15px;
}
.links {
  display: flex;
  justify-content: flex-end;
}
.inner-nav a {
  padding: 15px;
  transition: 0.2s ease;
}
.inner-nav a:hover {
  transform: translateY(-5px);
}
.inner-content {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.heading {
  flex:1;
  font-family: monospace;
}
.content {
  flex: 3;
  letter-spacing: 1px;
  text-align: justify;
}
.content button {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
}
.content button:hover {
  cursor: pointer;
}
