@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');


html,body {
  padding: 0;
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

/*      nav       */
  nav {
    width: 100%;
    height: 60px;
    background-color:rgba(44, 44, 84,1.0);
    border-bottom: 1px solid whitesmoke;
    padding-top: 10px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
  }
  nav a {
    color: white;
    border-bottom: 2px solid white;
    padding: 10px;
    letter-spacing: 2px;
    margin-right: 5px;
  }
  nav a:last-of-type {
    margin-right: 5%;
  }
  nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
  }

/*      header      */
  header {
    padding: 30px;
  }
  header h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
  }
  header h2 span {
    position: absolute;
    color: rgba(255, 77, 77, 0.3);
    top: -10px;
    left: 35%;
  }

/*      main      */
  main {
    padding: 10px 30px;
    display: flex;
    justify-content: center;
  }
  .clock-container {
    padding: 40px;
    width: 400px;
    height: 400px;
    border: 1px dotted blue;
  }
  .clock {
    background-color: rgba(255,255,255,0.5);
    width: 300px;
    height: 300px;
    border-width: 2px;
    border-style: solid;
    border-color: #fd3c40 #FF8A00 #00b842 #1d2b69;
    border-radius: 100%;
    position: relative;
    transform: translateY(-3px);
    transition: 0.5s ease;
  }
  .hand.second {
    width: 120px;
    height: 2px;
    background: rgba(179, 57, 57, 0.8);
    position: absolute;
    top: 148px;
    left: 28px;
    transform-origin: 100%;
    transform: rotate(90deg);
  }
  .hand.minute {
    width: 120px;
    height: 4px;
    background: rgba(0,0,0,0.8);;
    position: absolute;
    top: 146px;
    left: 28px;
    transform-origin: 100%;
    transform: rotate(90deg);
  }
  .hand.hour {
    width: 100px;
    height: 6px;
    background: rgba(0,0,0,0.8);
    position: absolute;
    top: 146px;
    left: 48px;
    transform-origin: 100%;
    transform: rotate(90deg);
  }

  .center {
    position: absolute;
    left:0; right:0; top:0; bottom:0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgba(44, 44, 84,1.0);
    margin: auto;
  }

.twelve {
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   margin: 0 auto;
   transform: translateY(-10px);
   width: 5px;
   height: 10px;
   background: rgba(39, 60, 117,1.0);
 }

.six {
   position: absolute;
   left: 0;
   bottom: 0;
   right: 0;
   margin: 0 auto;
   transform: translateY(10px);
   width: 5px;
   height: 10px;
   background: rgba(39, 60, 117,1.0);
}

.three {
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   margin: auto 0;
   transform: translateX(10px);
   width: 10px;
   height: 5px;
   background: rgba(39, 60, 117,1.0);
}

.nine {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   margin: auto 0;
   transform: translateX(-10px);
   width: 10px;
   height: 5px;
   background: rgba(39, 60, 117,1.0);
}

.control-container {
  padding: 40px;
  width: 400px;
  height: 400px;
  border: 1px dotted red;
}
.control-container .colours {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.block {
  width: 40px;
  height: 40px;
  margin: 5px;
}
#softBlue { background-color:rgba(119, 139, 235, 0.8); }
#apple { background-color:rgba(234, 134, 133, 0.8); }
#rosy { background-color:rgba(247, 215, 148, 0.8); }
#sky { background-color:rgba(51, 217, 178, 0.8); }
#lightPurple { background-color:rgba(153, 128, 250, 0.8); }
